/*
	This CSS file matches the color scheme from MudBlazor to Bootstrap when utilized for authentication.
	The file remains available at all times for demonstration purposes,
	but it is exclusively employed in the 'App.razor' component when authentication is enabled.
*/


/* roboto-300 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --char-card-h: 85%;
    --char-card-w: 19%;
    --register-card-h: auto;
    --register-card-w: auto;
}

@media(max-width:600px) {
    :root {
        --char-card-h: 90%;
        --char-card-w: 45%;
    }
}

.w-100 {
    width: 100%;
}

.btn-primary {
    text-transform: uppercase;
    --bs-btn-bg: var(--mud-palette-primary) !important;
    --bs-btn-hover-bg: var(--mud-palette-primary-darken) !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--mud-palette-primary) !important;
}

.nav {
    --bs-nav-link-color: var(--mud-palette-primary) !important;
    --bs-nav-link-hover-color: var(--mud-palette-primary-darken) !important;
}


.asa {
    display: flex;
    flex-grow: 1;
}

.fixed-to-bottom {
    position: fixed;
    bottom: 0;
    width: 100%
}

.CharCard ::-webkit-scrollbar {
    width: 2px !important;
    height: 2px !important;
}

.mini-scroll::-webkit-scrollbar {
    width: 2px !important;
    height: 2px !important;
}


.CharCard {
    margin-top: 4px;
    height: var(--char-card-h);
    width: var(--char-card-w);
    position: relative
}




@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.regCard {
    height: var(--register-card-h);
    width: var(--register-card-w);
    position: relative
}

    .regCard::before {
        content: "";
        width: 104%;
        height: 110%;
        border-radius: 8px;
        background-image: linear-gradient(var(--rotate), var(--mud-palette-secondary),var(--mud-palette-primary));
        position: absolute;
        z-index: -1;
        top: -5%;
        left: -2%;
        animation: spinCard 3s linear infinite;
    }

    .regCard::after {
        position: absolute;
        content: "";
        top: calc(var(--register-card-h) / 8);
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale(0.9);
        filter: blur(60px);
        background-image: linear-gradient(var(--rotate), var(--mud-palette-secondary),var(--mud-palette-primary));
        opacity: 1;
        transition: opacity .5s;
        animation: spinCard 3s linear infinite;
    }

.newCard {
    margin-right: 5px;
    margin-left: 5px;
}

    .newCard:hover {
        transition: 0.2s;
        text-shadow: 0 0 5px
    }

    .newCard::before {
        content: "";
        width: 104%;
        height: 102%;
        border-radius: 8px;
        background-image: linear-gradient(var(--rotate), var(--mud-palette-success),var(--mud-palette-primary));
        position: absolute;
        z-index: -1;
        top: -1%;
        left: -2%;
        animation: spinCard 3s linear infinite;
    }

    .newCard::after {
        position: absolute;
        content: "";
        top: calc(var(--char-card-h) / 8);
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale(0.8);
        filter: blur(30px);
        background-image: linear-gradient(var(--rotate), var(--mud-palette-success),var(--mud-palette-primary));
        opacity: 1;
        transition: opacity .5s;
        animation: spinCard 3s linear infinite;
    }

@keyframes spinCard {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.blurImage {
    filter: blur(10px) sepia(100%) contrast(60%);
}


.CharContent {
    height: 30%;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

    .CharContent.Header {
        height: 12%;
        justify-content: space-between;
    }



@media(max-width:600px) {
    .CharContent.Header .mud-typography-h6 {
        font-size: 15px !important;
        line-height: 15px;
    }
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.mainTab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.mainPanels {
    height: 100vh;
}

.generationMessage {
    animation: gradient-border-animation 2s infinite ease-out;
}

@keyframes gradient-border-animation {
    0% {
        border-image: linear-gradient(45deg,var(--mud-palette-primary-lighten), var(--mud-palette-primary-darken)) 1;
    }

    50% {
        border-image: linear-gradient(45deg, var(--mud-palette-primary-darken), var(--mud-palette-primary-lighten)) 1;
    }

    100% {
        border-image: linear-gradient(45deg,var(--mud-palette-primary-lighten), var(--mud-palette-primary-darken)) 1;
    }
}

.animationText {
    background: linear-gradient(-45deg,var(--mud-palette-secondary),var(--mud-palette-primary));
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    animation: animated_text 10s ease-out infinite;
    font-weight: 700;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0px 50%
    }
}



.chatEnterTab {
    flex: 0 1 auto;
}

.messageElement {
    padding: 12px;
    padding-bottom: 0rem !important
}

body {
    height: 100vh
}

.childTab {
    overflow-y: auto;
    max-height: 95vh;
}

@media(max-width:600px) {
    .AdaptiveFont {
        font-size: 12px;
    }
}

@media(max-width:600px) {
    .childTab {
        overflow-y: auto;
    }
}

@media(max-width:600px) {
    .mainTab {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0
    }
}

.p-3 {
    padding: 12px !important;
}

.QuickReplyClass {
    font-size: small;
}


.inputNoMargin.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin-top: 5px !important;
}

.FixedCollapsing.mud-collapse-exiting {
    animation: mud-collapse-anim 1s cubic-bezier(.55, .30, 0, 1) 0ms 1 forwards;
}

.MarkdownFormatting i {
    color: var(--mud-palette-text-secondary);
}

.MarkdownFormatting p {
    color: var(--mud-palette-text-primary);
}

.MarkdownFormatting b {
    color: var( --mud-palette-warning-text);
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.last-char {
    display: inline-block;
    animation: appear 1s ease-in-out;
}

.small-tick.mud-slider.mud-slider-large .mud-slider-track-tick {
    width: 1px;
    height: 1px;
}

.overlay {
    position: relative;
    pointer-events: none;
}

.glass {
    /* Эффект размытия */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
    /* Нижний и правый эффект глубины */
    inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
    /* Верхний и левый эффект глубины */
    inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
    /* Эффект тени */
    3px 2px 10px rgba(0, 0, 0, 0.25),
    /* Короткий подповерхностный эффект */
    inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
    /* Длинный подповерхностный эффект */
    inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);
    /* Позволяем дочерним элементам заполнять родительский */
    position: relative;
}

    .glass::before {
        /* Заставляем элемент рендериться */
        content: "";
        /* Применяем фоновое изображение */
        background-image: url(Content/GlassTextureAlt.png);
        background-repeat: repeat;
        background-size: 750px;
        /* Регулируем яркость */
        opacity: 0.075;
        /* Заполняем фоновое пространство */
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        /* Рендерим за другими дочерними элементами */
        z-index: -1;
    }

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    pointer-events: auto;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 5; /* Ниже, чем у ::before, чтобы затемнение было поверх размытия */
}

.overlay > * {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.overlay.active::after {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.overlay.active::before {
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay.active > * {
    filter: blur(5px);
}

.overlay::after, .overlay::before {
    -webkit-backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);
}

.overlay > * {
    filter: blur(0);
}

.subtle-pulsating {
    animation: subtle-pulse 2s ease-in-out infinite;
    border-radius: 10px;
    padding: 5px;
}

@keyframes subtle-pulse {
    0% {
        transform: scale(1);
        border: 0px solid;
    }

    70% {
        transform: scale(1.02);
        color: navajowhite;
        border: 2px solid;
    }

    100% {
        transform: scale(1);
        border: 0px solid;
    }
}



@keyframes glowEffect {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.img-glow {
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

    .img-glow::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 70%);
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        border-radius: 50%;
        pointer-events: none;
        animation: glowEffect 0.6s forwards;
    }
